.Navbar {
  margin: 20px 0;
}

.Navbar ul {
  width: 290px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
}

.NavbarItem {
  background-color: #555555;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}